# System user ID to run containers as.
PUID=1000

# System group ID to run containers as.
PGID=1000

# Interface to listen for DNS requests on.
DNS_INTERFACE=0.0.0.0

# Location of config storage on host.
CONFIG_DIR=config

# Location of data storage on host.
DATA_DIR=data

# Zabbix server hostname.
ZBX_HOSTNAME=zabbix-server

# Zabbix monitoring server host.
ZBX_SERVER_HOST=zabbix.example.com

# Zabbix active check interval.
ZBX_REFRESHACTIVECHECKS=60
