name: authentik
services:
  authentik-ldap:
    image: ghcr.io/goauthentik/ldap:2025.10.0@sha256:c5e546fb77d7314c0b70ae510b7643400af62e4217e26dbfd4c1463778cb6274
    container_name: authentik-ldap
    secrets:
      - authentik_ldap_token
    environment:
      AUTHENTIK_HOST: https://authentik.etch.benpearce.io
      AUTHENTIK_TOKEN: file:///run/secrets/authentik_ldap_token
    ports:
      - '0.0.0.0:389:3389/tcp'
    networks:
      - authentik-web
    restart: unless-stopped
    labels:
      traefik.enable: true
      traefik.tcp.routers.authentik-ldap.entrypoints: ldaps
      traefik.tcp.routers.authentik-ldap.rule: HostSNI(`authentik.${HOST}`)
      traefik.tcp.routers.authentik-ldap.tls: true
      traefik.tcp.routers.authentik-ldap.service: authentik-ldap
      traefik.tcp.services.authentik-ldap.loadbalancer.server.port: 3389
    user: ${PUID}:${PGID}
  authentik-postgres:
    image: postgres:18.0-alpine3.22@sha256:48c8ad3a7284b82be4482a52076d47d879fd6fb084a1cbfccbd551f9331b0e40
    container_name: authentik-postgres
    volumes:
      - authentik-postgres:/var/lib/postgresql
      - ${DATA_DIR}/postgres/authentik:/docker-entrypoint-initdb.d
    secrets:
      - authentik_postgres_password
    environment:
      POSTGRES_DB: authentik
      POSTGRES_PASSWORD_FILE: /run/secrets/authentik_postgres_password
      POSTGRES_USER: authentik
    networks:
      - authentik
    restart: unless-stopped
    healthcheck:
      interval: 30s
      retries: 5
      start_period: 20s
      test:
        - CMD-SHELL
        - pg_isready -d $${POSTGRES_DB} -U $${POSTGRES_USER}
      timeout: 5s
  authentik-redis:
    image: redis:8.2.2@sha256:4521b581dbddea6e7d81f8fe95ede93f5648aaa66a9dacd581611bf6fe7527bd
    container_name: authentik-redis
    volumes:
      - ${DATA_DIR}/redis/authentik:/data
    networks:
      - authentik
    command: --save 60 1 --loglevel warning
    restart: unless-stopped
    healthcheck:
      interval: 30s
      retries: 5
      start_period: 20s
      test:
        - CMD-SHELL
        - redis-cli ping | grep PONG
      timeout: 3s
  authentik-server:
    image: ghcr.io/goauthentik/server:2025.10.0@sha256:a283f44eefd68bcfc25cdfbdc0372e6384b60468ca042278bde0a4bd8af4680f
    container_name: authentik-server
    depends_on:
      authentik-postgres:
        condition: service_healthy
      authentik-redis:
        condition: service_healthy
    volumes:
      - ${DATA_DIR}/authentik/media:/media
      - ${DATA_DIR}/authentik/templates:/templates
    secrets:
      - authentik_postgres_password
      - authentik_secret_key
      - smtp_password
    environment:
      AUTHENTIK_POSTGRESQL__HOST: authentik-postgres
      AUTHENTIK_POSTGRESQL__NAME: authentik
      AUTHENTIK_POSTGRESQL__PASSWORD: file:///run/secrets/authentik_postgres_password
      AUTHENTIK_POSTGRESQL__USER: authentik
      AUTHENTIK_REDIS__HOST: authentik-redis
      AUTHENTIK_SECRET_KEY: file:///run/secrets/authentik_secret_key
      AUTHENTIK_EMAIL__HOST: ${SMTP_HOST}
      AUTHENTIK_EMAIL__PORT: 465
      AUTHENTIK_EMAIL__USERNAME: ${SMTP_USER}
      AUTHENTIK_EMAIL__PASSWORD: file:///run/secrets/smtp_password
      AUTHENTIK_EMAIL__USE_SSL: true
      AUTHENTIK_EMAIL__FROM: ${SMTP_USER}
    networks:
      - authentik-web
      - authentik
    command: server
    restart: unless-stopped
    labels:
      traefik.docker.network: authentik-web
      traefik.enable: true
      traefik.http.routers.authentik.entrypoints: https
      traefik.http.routers.authentik.rule: Host(`authentik.${HOST}`)
      traefik.http.services.authentik.loadbalancer.server.port: 9000
      readme.description: Open Source Identity Provider.
      readme.links.web: https://goauthentik.io/
    user: ${PUID}:${PGID}
  authentik-worker:
    image: ghcr.io/goauthentik/server:2025.10.0@sha256:a283f44eefd68bcfc25cdfbdc0372e6384b60468ca042278bde0a4bd8af4680f
    container_name: authentik-worker
    depends_on:
      authentik-postgres:
        condition: service_healthy
      authentik-redis:
        condition: service_healthy
    volumes:
      - ${DATA_DIR}/authentik/media:/media
      - ${DATA_DIR}/authentik/certs:/certs
      - ${DATA_DIR}/authentik/templates:/templates
    secrets:
      - authentik_postgres_password
      - authentik_secret_key
      - smtp_password
    environment:
      AUTHENTIK_POSTGRESQL__HOST: authentik-postgres
      AUTHENTIK_POSTGRESQL__NAME: authentik
      AUTHENTIK_POSTGRESQL__PASSWORD: file:///run/secrets/authentik_postgres_password
      AUTHENTIK_POSTGRESQL__USER: authentik
      AUTHENTIK_REDIS__HOST: authentik-redis
      AUTHENTIK_SECRET_KEY: file:///run/secrets/authentik_secret_key
      AUTHENTIK_EMAIL__HOST: ${SMTP_HOST}
      AUTHENTIK_EMAIL__PORT: 465
      AUTHENTIK_EMAIL__USERNAME: ${SMTP_USER}
      AUTHENTIK_EMAIL__PASSWORD: file:///run/secrets/smtp_password
      AUTHENTIK_EMAIL__USE_SSL: true
      AUTHENTIK_EMAIL__FROM: ${SMTP_USER}
    networks:
      - authentik
    command: worker
    restart: unless-stopped
    user: ${PUID}:${PGID}
networks:
  authentik:
    name: authentik
  authentik-web:
    name: authentik-web
volumes:
  authentik-postgres:
    name: authentik-postgres
secrets:
  authentik_postgres_password:
    file: ../.secrets/authentik_postgres_password
  authentik_ldap_token:
    file: ../.secrets/authentik_ldap_token
  authentik_secret_key:
    file: ../.secrets/authentik_secret_key
  smtp_password:
    file: ../.secrets/smtp_password
